<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- Enable AspectJ style of Spring AOP -->
	<aop:aspectj-autoproxy />

	<!-- <bean name="employee" class="com.journaldev.spring.model.Employee"> -->
	<!-- <property name="name" value="Dummy Name"></property> -->
	<!-- </bean> -->

	<!-- <bean name="employeeService" class="com.journaldev.spring.service.EmployeeService"> -->
	<!-- <property name="employee" ref="employee"></property> -->
	<!-- </bean> -->

	<!-- Configure Aspect Beans, without this Aspects advices wont execute -->
	<bean name="memoryAspect" class="com.joeyism.aspect.MemoryAspect" />

</beans>